.app-wrapper
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
.app-header
  height: 40px
  line-height: 40px
  text-align: center
  background-color: #26A2FF
  color: #fff
.app-nav
  height: 40px
  line-height: 40px
  display: flex
  border: 1px solid #eee
  a
    display: block
    height: 40px
    flex: 1
    text-align: center
    color: #000
    &:active, &:hover
      color: #f00
.app-content
  flex: 1
  overflow: hidden
.app-footer
  height: 40px
  line-height: 40px
  text-align: center
  background-color: #eee